APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost:4031

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=model_test
DB_USER=root
DB_PASS=

OPENROUTER_API_KEY=[open_router_api_key]
OPENROUTER_DEFAULT_MODEL=z-ai/glm-4.7-flash
OPENROUTER_BASE_URL=https://openrouter.ai/api/v1